@keyframes moveLeft {
    0% {
      opacity: 0;
      transform: translateX(-8rem);
    }
    80% {
      transform: translateX(2rem);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  @keyframes moveRight {
    0% {
      opacity: 0;
      transform: translateX(8rem);
    }
    80% {
      transform: translateX(-2rem);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }
  @keyframes moveBottom {
    0% {
      opacity: 0;
      transform: translateY(8rem);
    }
    100% {
      opacity: 1;
      transform: translate(0);
    }
  }