$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dart: hsl(160, 64%, 43%);
$background-primary-light: #eee;
$background-primary-dart: #ccc;
$color-gray-dark: #777;
$color-white: #fff;
$color-black: #000;
$text-black: #343a40;
$text-grey: #3b4252;


$gutter-vertical: 5rem;
$gutter-horizontal: 4rem;

$grid-width : 1400px;